/TP8_Grupo_19(2)/Datos/bin
/TP8_Grupo_19(2)/Datos/obj
/TP8_Grupo_19(2)/Entidades/bin
/TP8_Grupo_19(2)/Entidades/obj
/TP8_Grupo_19(2)/Negocio/bin
/TP8_Grupo_19(2)/Negocio/obj
/TP8_Grupo_19(2)/Vistas/bin
/TP8_Grupo_19(2)/Vistas/obj
/TP8_Grupo_19(2)/.vs/TP8_Grupo_19(2).slnx/FileContentIndex
/TP8_Grupo_19(2)/.vs/TP8_Grupo_19(2).slnx/v18
